.section-cards {
	h4 {
		margin-bottom: 22px;
	}
	.row {
		--bs-gutter-y: 1.5rem;
		}
	.cards-inner {
		&_heading{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid $secondary-color-2;
		}
		&_content {
			padding-top: 40px;
		}
	}
	
	.card-content-wrap {
		position: relative;
		width: 100%;
		overflow: hidden;

		&:hover {
			img {
				transform: scale(1.1);
				transition: all 0.3s ease-out;
			}
		}
		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}

		&_content {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 24px;
			box-sizing: border-box;
		}
		&_details {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
			padding: 8px 0;
			border-top: 0.5px solid;
			border-bottom: 1px solid;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap; /* Ensures text doesn't wrap */

			p {
				margin: 0;
				text-align: center;
				word-break: break-word; /* Prevents overflow for long words */
			}
		}
		* {
			color: #fff;
		}
	}
	
}
