.site-header,
.simple-header {
	display: block;
}

.simple-header {

	&-wrapper {
		background-color: #fff;
	}

	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
	}

	&-title {

		&:last-child {
			margin-bottom: auto;
		}
	}

	@include media-breakpoint-down(md) {
		
		height: 68px;
		position: sticky;
		top: 0;
		z-index: 99;

		&-navigation {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0;
			width: 100%;
			max-height: calc(100vh - 68px);
			transform: translate3d(0, 100%, 0);
			background-color: #fff;
			overflow: auto;
		}
	}
}
