.site-header,
.simple-header {
	display: block;
	
}
.simple-navigation-menu {
	flex: 2;
    display: flex;
    justify-content: center;
}

.simple-header {

	&-wrapper {
		background-color: #fff;
		border-bottom: 1px solid #C8C8C8;
		// @include media-breakpoint-down(md) { 
		// 	padding-bottom: 20px;
		// }

		.container {
			overflow: visible;
		}
	}

	&-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 52px 0;

		@include media-breakpoint-down(md) {
			padding: 24px 0;
		}
	}

	&-title {

		&:last-child {
			margin-bottom: auto;
		}
	}

	&-branding {
		display: flex;
    justify-content: flex-start;
    flex: 1;
	}
	@include media-breakpoint-down(md) {
		
		//height: 68px;
		position: sticky;
		top: 0;
		z-index: 99;

		&-navigation {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0;
			width: 100%;
			max-height: calc(100vh - 68px);
			transform: translate3d(0, 100%, 0);
			background-color: #fff;
			overflow: auto;
		}
	}
}
