$font-main: 'Satoshi', -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif; 

body{
	font-family: $font-main;
	color: $text-color;
	font-size: 16px;
	font-weight: 400;
	line-height: 21.6px;
}
p {
	font-size: 16px;
	font-weight: 400;
	line-height: 21.6px;
	color: $text-color-light;

	&.dark {
		font-weight: 500;
		color: $text-color;
	}
}

h1 {
	font-size: 90px;
	font-weight: 900;
	line-height: 81px;

	@include media-breakpoint-down(md) {
		font-size: 48px;
		line-height: 48.6px;
	}
}

h2,
.as-h2 {
	font-size: 60px;
	font-weight: 900;
	line-height: 81px;

	@include media-breakpoint-down(md) {
		font-size: 36px;
		line-height: 48.6px;
	}
}

h3 {
	font-size: 48px;
	font-weight: 900;
	line-height: 64.8px;

	@include media-breakpoint-down(md) {
		font-size: 32px;
		line-height: 43.2px;
	}
}

h4 {
	font-size: 32px;
	font-weight: 900;
	line-height: 43.2px;
}

h5 {
	font-size: 24px;
	font-weight: 500;
	line-height: 31.25px;

	@include media-breakpoint-down(md) {
		font-size: 16;
		line-height: 20.83px;
		font-weight: 700;
	}
}

.text-big {
	font-size: 20px;
	font-weight: 500;
	line-height: 27px;

	@include media-breakpoint-down(md) {
		font-size: 16;
		line-height: 20.83px;
	}
}
